!!!
%html
  %head
    %title The Web Geek (Beta)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    /[if lt IE 9]
      = javascript_include_tag 'respond'
  %body
    %nav.nav--main
      .container
        .nav__content
          = link_to "The Web Geek (Beta)", root_url, class: "nav__logo"
          %ul.nav__list.pull--right
            %li= link_to "About", about_url, class: "nav__item"
    = yield